.main {
	display: flex;
	justify-content: center;
	.content {
		max-width: 1008px;
		min-width: 1008px;
		margin-top: 60px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		.headerBlock {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-bottom: 24px;
			.title {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				h2 {
					word-wrap: break-word;
					max-width: 800px;
				}
				button {
					width: 175px;
					height: 36px;
					border-radius: 30px;
					text-transform: none;
					font-weight: 500;
					font-size: 16px;
				}
			}
			.search {
				width: 100%;
				height: 36px;
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}
	.cardsTable {
		width: 100%;
		.text {
			min-width: 194px;
			max-width: 194px;
			word-wrap: break-word;
		}
		th {
			background-color: #efefef;
			font-weight: bold;
		}
		tr {
			height: 70px;
		}
	}
}

